@{
    ViewData["Title"] = "Home Page";
}

<h2>list of employees</h2>
@{
    var employee = ViewBag.employee;
}
@foreach (var e in employee)
{
    @e.id<br/>
    @e.fullName<br/>
    @e.gender<br/>
    @e.phone<br/>
    @e.email<br/>
    @e.salary<br/>
    @e.status<br/>
    <br />
}
